html{
  font-family: sans-serif;
  font-size: 16px;
}

html *{
  box-sizing: border-box;
}

body{
  margin: 0 0 0 0;
  background-color: #eeece9;
}

a:link{
  color:#d25833;
}

a:visited{
  color:#d25833;
}

a:hover{
  color: #e3937a;
}

a:active{
  color: #ff6a3b;
}

.bg{
  background-image: url(../images/menu-bg.png);
  background-repeat: repeat-x;
}

.navigation a:link{
  color: #3c454d;
  text-decoration: none;
}

.navigation a:visited{
  color: #3c454d;
  text-decoration: none;
}

.navigation a:hover{
  color: #7b8dac;
  text-decoration: none;
}

.navigation a:active{
  color: #5a9bc0;
  text-decoration: none;
}
@media (max-width:767px){

  .navigation{
    background-color: #dfddda;
  }
}